{{!-- code to start from MVC mini project --}}
<div class="row">
  <div class="col-auto">
    <h1>Welcome, {{user.name}}!</h1>
  </div>
</div>
<div class="container">
    <div class="row">
        <h2>My Recipes</h2>
        <br>
    </div>
    
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 flex-wrap">
        {{#each user.meals as |meal| }}
        <div class="col h-80">
            <div class="card">
                <h3 class="card-header p-3">{{meal.title}} {{{get_emoji}}}</h3>
                <div class="card-body p-3">
                    <h4>Category: {{meal.category}}</h4>
                    <br>
                    <h4>Area: {{meal.area}}</h4>
                    <br>
                    <div class="btn-group">
                        <a href="/meals/{{meal.id}}">
                            <button type="button" data-id = "{{meal.id}}" class="btn btn-sm btn-outline-secondary">View Recipe</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>


<script src="./js/home.js"></script>


