<div class="d-flex justify-content-center">
    <div class="card">
        <h5 class="card-header p-3">{{meal.title}}</h5>
        <div class="card-body p-3">
            <h5 class="card-title">Instructions</h5>
            <p class="card-text">{{meal.instructions}}</p>
            <br>
            <h5 class="card-title">Ingredients</h5>
            <ul class="mb-5">
                {{#if meal.ingredient1}}
                <li>{{meal.ingredient1}}</li>
                {{/if}}

                {{#if meal.ingredient2}}
                <li>{{meal.ingredient2}}</li>
                {{/if}}

                {{#if meal.ingredient3}}
                <li>{{meal.ingredient3}}</li>
                {{/if}}

                {{#if meal.ingredient4}}
                <li>{{meal.ingredient4}}</li>
                {{/if}}

                {{#if meal.ingredient5}}
                <li>{{meal.ingredient5}}</li>
                {{/if}}

                {{#if meal.ingredient6}}
                <li>{{meal.ingredient6}}</li>
                {{/if}}

                {{#if meal.ingredient7}}
                <li>{{meal.ingredient7}}</li>
                {{/if}}

                {{#if meal.ingredient8}}
                <li>{{meal.ingredient8}}</li>
                {{/if}}

                {{#if meal.ingredient9}}
                <li>{{meal.ingredient9}}</li>
                {{/if}}

                {{#if meal.ingredient10}}
                <li>{{meal.ingredient10}}</li>
                {{/if}}
            </ul>
            <a href="/" class="btn btn-primary">Back to My Recipes</a>
        </div>
    </div>
</div>